<div class="ui segments">
  <div class="ui segment container">
    <div class="left-profile">
      <div class="image">
        <img
          [src]="client.image"
          alt="">
      </div>
      <div class="info">
        <span>{{ client.firstName + ' ' + client.lastName }}</span>
        <p>კლიენტის უნიკალური: <span>{{ client.clientKey }}</span></p>
      </div>
    </div>
    <div class="right-profile">
      <div class="activity-cont">
        <div class="activity">
          <div class="act">
            <span>აქტივები:</span>
          </div>
          <div>
            <span>{{ sumAmount | async }}</span>
          </div>
        </div>
        <div class="activity">
          <div class="plus">
            <span>plus:</span>
          </div>
          <div>
            <span>{{ client.plusPoints }}</span>
          </div>
        </div>
      </div>
      <div class="btn-logout">
        <button class="button ui red" (click)="onClientLogout()">გასვლა</button>
      </div>
    </div>
  </div>
  <div class="ui three item stackable tabs menu" style="margin: 0rem">
    <a class="item active" data-tab="definition" routerLink="/krn/krnicp">მთავარი</a>
    <a class="item" data-tab="examples" routerLink="/krn/accounts">ანგარიშები</a>
    <a class="item" data-tab="usage" routerLink="/krn/operations">ოპერაციები</a>
  </div>
</div>