<bg-krnicp></bg-krnicp>
<div class="ui segments">
  <div class="ui segment">
    <h1>თანხის გადარიცხვა</h1>
  </div>
  <div class="ui segment">
    <form class="ui form bordered">
      <div class="field" style="width: 60%;">
        <label>გამგზავნი ანგარიში</label>
        <select>
          <option>test</option>
          <option>test</option>
          <option>test</option>
        </select>
      </div>
      <div class="field" style="width: 60%;">
        <label>მიმღები ანგარიში</label>
        <select>
          <option>test</option>
          <option>test</option>
          <option>test</option>
        </select>
      </div>
      <div class="field" style="width: 60%;">
        <label>თანხა</label>
        <input type="text">
      </div>
      <button type="submit" class="icon ui green button" style="margin-top: 30px;">
          <i class="icon check"></i>
      </button>
    </form>
  </div>
</div>