<div class="ui segments">
  <div class="ui segment">
    <h1>ანგარიშები</h1>
  </div>
  <div class="ui segment">
    <div class="table-header">
      <span>ანგარიშები</span>
      <div class="ui right floated icon button">
        <i class="icon plus"></i>
      </div>
    </div>
    <table>
      <thead>
        <th>მფლობელი</th>
        <th>სახელი</th>
        <th>თანხა</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td style="width: 25%;">
            <p class="ui float-left">ტესტ1</p>
          </td>
          <td style="width: 35%;">
            <p class="ui float-left">ტესტ1</p>
          </td>
          <td style="width: 20%;">
            <p class="ui float-right">1</p>
          </td>
          <td style="width: 20%;">
            <i class="ui float-right icon trash"></i>
          </td>
        </tr>
        <tr>
          <td style="width: 25%;">
            <p class="ui float-left">ტესტ1</p>
          </td>
          <td style="width: 35%;">
            <p class="ui float-left">ტესტ1</p>
          </td>
          <td style="width: 20%;">
            <p class="ui float-right">1</p>
          </td>
          <td style="width: 20%;">
            <i class="ui float-right icon trash"></i>
          </td>
        </tr>
        <tr>
          <td style="width: 25%;">
            <p class="ui float-left">ტესტ1</p>
          </td>
          <td style="width: 35%;">
            <p class="ui float-left">ტესტ1</p>
          </td>
          <td style="width: 20%;">
            <p class="ui float-right">1</p>
          </td>
          <td style="width: 20%;">
            <i class="ui float-right icon trash"></i>
          </td>
        </tr>
        <tr>
          <td style="width: 25%;">
            <p class="ui float-left">ტესტ1</p>
          </td>
          <td style="width: 35%;">
            <p class="ui float-left">ტესტ1</p>
          </td>
          <td style="width: 20%;">
            <p class="ui float-right">1</p>
          </td>
          <td style="width: 20%;">
            <i class="ui float-right icon trash"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>