<div class="ui segments">
  <div class="ui segment">
    <h1>ანგარიშის შექმნა</h1>
  </div>
  <div class="ui segment">
    <form class="ui form bordered" [formGroup]="accountForm" (ngSubmit)="onAccountAdd()">
      <div class="field" style="width: 60%;">
        <label>ანგარიშის სახელი</label>
        <input type="text" formControlName="accountName">
      </div>
      <div class="field" style="width: 60%;">
        <label>თანხა</label>
        <input type="number" formControlName="amount">
      </div>
      <button type="submit" class="icon ui blue button" style="margin-top: 30px;">
          <i class="icon save"></i>
      </button>
    </form>
  </div>
</div>